body {
	font-family: sans-serif;
}

body,
section,
article {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 6em;
}


footer {
	text-align: center;
	font-size: smaller;
}

.main {
	background: #f8f8f8;
}

.no-columns {
	margin-bottom: 10px;
}

.signature {
	margin-top: 0;
	margin-bottom: 2em;
	padding-top: 0;
	text-align: right;
	font-style: italic;
}

/* box decoration rules */

.border {
	border: 2px solid lightcoral;
	padding: 10px;
}


.highlight {
	background-color: lightcoral;
	padding: 10px;
}



/* picframe rules*/

img {
	vertical-align: bottom;
}

.picframe {
	position: relative;
}

.picframe>img {
	width: 100%;
}

.picframe>.caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .3em;
	overflow: hidden;
	color: white;
	background: hsla(0, 0%, 0%, .4);
	/* color: transparent; */
	/* background: transparent; */
	transition: 1s;
	box-sizing: border-box;
}

.picframe:hover>.caption {
	/* transition: .3s; */
	color: white;
	background: hsla(0, 0%, 0%, .4);
}


/* blockquote rules */

blockquote,
q {
	font-size: 1.6em;
	font-family: serif;
	font-style: italic;
}

blockquote {
	text-align: center;
}

blockquote:before {
	color: #555;
	content: open-quote;
	font-size: 3em;
	line-height: 0;
	vertical-align: -0.4em;
}

blockquote:after {
	color: #555;
	content: close-quote;
	font-size: 3em;
	line-height: 0;
	vertical-align: -0.4em;
}


/* comment rules */

.title {
	width: 100%;
	color: lightcoral;
	text-align: center;
}

x-comments section {
	font-size: smaller;
}

x-comments article [contenteditable] {
	border: none;
	/* color: black; */
	border-bottom: thin solid lightgray;
}

/* From https://stackoverflow.com/questions/20726174/placeholder-for-contenteditable-div */
[placeholder]:empty::before {
    content: attr(placeholder);
	color: lightgray;
}

[placeholder]:empty:focus::before {
    content: attr(placeholder);		/* Modified from original answer */
}

[placeholder]:focus {
	outline: none;
}


/* x-article popup rules */

div#background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 80%, .8);
}
div#closer {
    clear: both;
    float: right;
    margin: -14px 4px;
    background: lightcoral;
    padding: 0px 0px 0 0;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: thin solid lightcoral;
	font-weight: bold;
	cursor: pointer;
    text-align: center;
}

div#floater {
    float: left;
    height: 50%;
    margin-top: -305px;
}

div#overlay {
    clear: both;
    margin: 0 auto;
    padding: 4px;
    box-shadow: 0 0 16px 0px;
    border: thin solid lightcoral;
    width: 800px;
	height: 600px;
	background: white;
}